# Baseball Savant Data Scraping Example

## Example Database Creation

This example creates a small sample of the full database saved to "baseball_savant.db", a portable SQLite database.

In [7]:
import sqlite3
import pandas as pd
import savantscraper

# Example for two years and two teams
savantscraper.database_import('baseball_savant',
                              (2017, 2018),
                              teams=['STL', 'COL'])

HBox(children=(IntProgress(value=0, description='Seasons', max=2, style=ProgressStyle(description_width='initi…

HBox(children=(IntProgress(value=0, description='Teams', max=2, style=ProgressStyle(description_width='initial…

HBox(children=(IntProgress(value=0, description='Teams', max=2, style=ProgressStyle(description_width='initial…

## Example Query

This example connects to the database and creates a pandas dataframe from a simple query.

In [9]:
# Connect to the database
conn = sqlite3.connect('baseball_savant.db')

# Query the database and load into a pandas dataframe
df = pd.read_sql_query("select player_name, vx0 from statcast limit 5;", conn)

# Close connection when finished
conn.close()

df

      player_name     vx0
0  Sam Tuivailala  8.8073
1  Sam Tuivailala  4.8131
2  Sam Tuivailala  6.0466
3  Sam Tuivailala  8.5398
4  Sam Tuivailala  6.4284